* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiary: #99E2D0;
  --gray-medium: #EAEAEA;
  --gray-light: #F6F6F6;
  --gray-dark: #353535;
  --gray-bold: #7E7E7E;
  --green-text: #008766;
  --black-title: #101010;
  --white: #fff;
  --black: #000;
  --primary-hover: rgba(147, 86, 220, 0.85);
  --secondary-hover: rgba(255, 121, 218, 0.85);
  --btn-gradient: linear-gradient(var(--secondary), var(--primary));
  --btn-gradient-hover: linear-gradient(var(--secondary-hover), var(--primary-hover));
  --heart-gradient: linear-gradient(var(--primary), var(--secondary));
  --btn-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  --btn-shadow-hover: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  --functioning-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  --card-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
  --card-shadow-hover: 0 4px 20px 0 rgba(0, 0, 0, 0.20);
  --shrikhand: "Shrikhand",
  serif;
  --roboto: "Roboto",
  sans-serif;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand-Regular.ttf) format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--roboto);
  font-weight: 500;
  color: var(--gray-dark);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

section {
  padding: 4.8rem 2rem;
}
@media only screen and (min-width: 992px) {
  section {
    padding-right: 18rem;
    padding-left: 18rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 113px;
}
.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.3rem;
}
.header__logo--img {
  width: 16.2rem;
}
.header__location {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-medium);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.header .location__icon {
  font-size: 1.6rem;
  margin-right: 1.7rem;
}
.header .location__text {
  font-size: 1.6rem;
}

.btn {
  padding: 1.3rem 1.6rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 2.5rem;
  background: var(--btn-gradient);
  color: var(--white);
  box-shadow: var(--btn-shadow);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: var(--btn-gradient-hover);
  box-shadow: var(--btn-shadow-hover);
}

.card {
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 100%;
  min-height: 25.1rem;
  box-shadow: var(--card-shadow);
}
@media only screen and (min-width: 576px) {
  .card {
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (min-width: 576px) {
  .card:hover {
    transform: scale(1.02);
    box-shadow: var(--card-shadow-hover);
  }
}
.card__header {
  position: relative;
  overflow: hidden;
}
.card .header__img {
  object-fit: cover;
  width: 100%;
  height: 17.4rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
.card .header__span {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  font-size: 1.4rem;
  background-color: var(--tertiary);
  color: var(--green-text);
  padding: 7px 9px;
  border-radius: 2px;
  box-shadow: var(--functioning-shadow);
}
.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
}
.card .body__heart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  padding: 2.5rem;
  background-color: transparent;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .card .body__heart:hover .heart__empty {
    opacity: 0;
  }
  .card .body__heart:hover .heart__full {
    opacity: 1;
    background: var(--heart-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
.card .content__title {
  font-size: 1.8rem;
}
.card .content__city {
  font-size: 1.7rem;
  font-weight: 300;
}

.heart__toggle {
  opacity: 0;
  padding: 1.5rem;
}
.heart__empty, .heart__full {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.heart__full {
  opacity: 0;
}
.heart__toggle:checked + label .heart__full {
  opacity: 1;
  background: var(--heart-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heart__toggle:checked + label .heart__empty {
  opacity: 0;
}

.footer {
  background-color: var(--gray-dark);
  padding: 2.2rem 2.5rem;
}
@media only screen and (min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5.7rem 2.5rem 3rem 2.5rem;
  }
}
.footer__logo {
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 992px) {
  .footer__logo {
    margin-bottom: 0;
    margin-left: 10rem;
    margin-right: 6rem;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .footer__links {
    flex-direction: row;
    gap: 3rem;
  }
}
.footer .links__link {
  color: var(--white);
  font-size: 1.6rem;
  margin-bottom: 7px;
  font-weight: 400;
}
@media only screen and (min-width: 992px) {
  .footer .links__link {
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .footer .links__link:hover {
    color: var(--secondary);
  }
}
.footer .links__logo {
  font-family: var(--shrikhand);
  font-size: 1.8rem;
}
.footer .links__icons {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .footer .links__icons {
    flex-direction: row;
  }
}
.footer .link__icon {
  width: 2.5rem;
}
.footer .link__content {
  font-weight: 500;
}

.container .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4.8rem 0;
  background-color: var(--gray-light);
}
.container .hero__title {
  padding: 0 4.8rem;
}
.container .hero__content {
  font-weight: 300;
  font-size: 1.8rem;
  margin-top: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.container .hero__btn {
  margin-top: 2.7rem;
}
.container .functioning__title {
  margin-bottom: 2.6rem;
}
.container .functioning__btn {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2.492rem;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .container .functioning__btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.container .btn__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  background-color: var(--gray-light);
  height: 7.238rem;
  border-radius: 2rem;
  box-shadow: var(--functioning-shadow);
}
.container .btn__content:last-child .body__icon {
  color: var(--primary);
}
.container .content__number {
  position: absolute;
  left: -1.2rem;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.418rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.container .content__body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 1.5rem;
}
.container .body__icon {
  font-size: 2rem;
  color: var(--gray-bold);
  margin-right: 1rem;
}
@media only screen and (min-width: 576px) {
  .container .body__icon {
    margin-right: 2rem;
  }
}
.container .body__content {
  font-size: 1.6rem;
  color: var(--black);
}
.container .restaurants {
  background-color: var(--gray-light);
}
.container .restaurants__title {
  margin-bottom: 2rem;
}
.container .restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
@media only screen and (min-width: 768px) {
  .container .restaurants__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .container .restaurants__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .container .restaurants__cards {
    column-gap: 10rem;
    row-gap: 5rem;
  }
}

/*# sourceMappingURL=home.css.map */
