* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiary: #99E2D0;
  --gray-medium: #EAEAEA;
  --gray-light: #F6F6F6;
  --gray-dark: #353535;
  --gray-bold: #7E7E7E;
  --green-text: #008766;
  --black-title: #101010;
  --white: #fff;
  --black: #000;
  --primary-hover: rgba(147, 86, 220, 0.85);
  --secondary-hover: rgba(255, 121, 218, 0.85);
  --btn-gradient: linear-gradient(var(--secondary), var(--primary));
  --btn-gradient-hover: linear-gradient(var(--secondary-hover), var(--primary-hover));
  --heart-gradient: linear-gradient(var(--primary), var(--secondary));
  --btn-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  --btn-shadow-hover: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  --functioning-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  --card-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
  --card-shadow-hover: 0 4px 20px 0 rgba(0, 0, 0, 0.20);
  --shrikhand: "Shrikhand",
  serif;
  --roboto: "Roboto",
  sans-serif;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand-Regular.ttf) format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--roboto);
  font-weight: 500;
  color: var(--gray-dark);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

section {
  padding: 4.8rem 2rem;
}
@media only screen and (min-width: 992px) {
  section {
    padding-right: 18rem;
    padding-left: 18rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.3rem;
  width: 100%;
}
.header__icon {
  font-size: 2.5rem;
  padding: 1.7rem;
}
.header__img {
  margin: auto;
  width: 16.2rem;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27.5rem;
  overflow: hidden;
}
.hero__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 992px) {
  .hero {
    height: 38.3rem;
  }
}

.btn {
  padding: 1.6rem 1.9rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 2.5rem;
  background: var(--btn-gradient);
  color: var(--white);
  box-shadow: var(--btn-shadow);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: var(--btn-gradient-hover);
  box-shadow: var(--btn-shadow-hover);
}

.card {
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 100%;
  min-height: 25.1rem;
  box-shadow: var(--card-shadow);
}
@media only screen and (min-width: 576px) {
  .card {
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (min-width: 576px) {
  .card:hover {
    transform: scale(1.02);
    box-shadow: var(--card-shadow-hover);
  }
}
.card__header {
  position: relative;
  overflow: hidden;
}
.card .header__img {
  object-fit: cover;
  width: 100%;
  height: 17.4rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
.card .header__span {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  font-size: 1.4rem;
  background-color: var(--tertiary);
  color: var(--green-text);
  padding: 7px 9px;
  border-radius: 2px;
  box-shadow: var(--functioning-shadow);
}
.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
}
.card .content__title {
  font-size: 1.8rem;
}
.card .content__city {
  font-size: 1.7rem;
  font-weight: 300;
}

.heart__toggle {
  opacity: 0;
  padding: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
}
.heart__empty, .heart__full {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.heart__full {
  opacity: 0;
}
.heart__toggle:checked + label .heart__full {
  opacity: 1;
  background: var(--heart-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heart__toggle:checked + label .heart__empty {
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes plateAppear {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.body__heart {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 2.2rem;
  background-color: transparent;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .body__heart:hover .heart__empty {
    opacity: 0;
  }
  .body__heart:hover .heart__full {
    opacity: 1;
    background: var(--heart-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: fadeOut 2s forwards;
}

.loader {
  border: 1rem solid var(--white);
  border-top: 1rem solid var(--primary);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s infinite;
}
@media only screen and (min-width: 768px) {
  .loader {
    width: 7rem;
    height: 7rem;
  }
}
@media only screen and (min-width: 992px) {
  .loader {
    width: 10rem;
    height: 10rem;
  }
}

.footer {
  background-color: var(--gray-dark);
  padding: 2.2rem 2.5rem;
}
@media only screen and (min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5.7rem 2.5rem 3rem 2.5rem;
  }
}
.footer__logo {
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 992px) {
  .footer__logo {
    margin-bottom: 0;
    margin-left: 10rem;
    margin-right: 6rem;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .footer__links {
    flex-direction: row;
    gap: 3rem;
  }
}
.footer .links__link {
  color: var(--white);
  font-size: 1.6rem;
  margin-bottom: 7px;
  font-weight: 400;
}
@media only screen and (min-width: 992px) {
  .footer .links__link {
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .footer .links__link:hover {
    color: var(--secondary);
  }
}
.footer .links__logo {
  font-family: var(--shrikhand);
  font-size: 1.8rem;
}
.footer .links__icons {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .footer .links__icons {
    flex-direction: row;
  }
}
.footer .link__icon {
  width: 2.5rem;
}
.footer .link__content {
  font-weight: 500;
}

@media only screen and (min-width: 992px) {
  .main {
    display: flex;
    justify-content: center;
  }
}

.menu {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  padding: 3.2rem 1.3rem 4rem 1.3rem;
  margin-top: -5rem;
}
@media only screen and (min-width: 992px) {
  .menu {
    width: 105.5rem;
    padding: 5rem 20rem;
  }
}
.menu__restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.2rem;
}
@media only screen and (min-width: 768px) {
  .menu__restaurant {
    justify-content: center;
  }
}
.menu__options {
  margin-bottom: 4rem;
}
.menu__order {
  display: flex;
  justify-content: center;
}

.options__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 0.5rem;
}
.options__border {
  display: flex;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-bottom: 1.2rem;
}

.restaurant__title {
  font-size: 2.8rem;
  font-family: var(--shrikhand);
  font-style: italic;
  color: var(--black-title);
}
@media only screen and (min-width: 768px) {
  .restaurant__title {
    margin-right: 2.4rem;
  }
}

.heart__icons {
  margin-right: 5rem;
}
.heart__empty, .heart__full {
  font-size: 2.3rem;
  padding: 0;
}

.plates {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  animation: plateAppear 0.7s ease-in-out;
}

.plate {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--white);
  box-shadow: var(--btn-shadow);
  border-radius: 1rem;
}
.plate__content {
  flex: 1;
  padding: 1.5rem 1.35rem;
  overflow: hidden;
}
.plate__title {
  font-size: 1.8rem;
  color: var(--black);
  font-weight: bold;
}
.plate__body {
  display: flex;
  justify-content: space-between;
  font-size: 1.504rem;
}
.plate__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary);
  border-radius: 0 1rem 1rem 0;
  transform: translateX(6rem);
  transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
  width: 0;
}

.plate:hover {
  cursor: pointer;
}
.plate:hover .plate__check {
  transform: translateX(0);
  width: 60px;
}
.plate:hover .check__icon {
  transform: rotate(360deg);
}

.check__icon {
  font-size: 2rem;
  padding: 2.5rem 2rem;
  color: var(--white);
  transform: rotate(0deg);
  transition: 0.7s ease-in-out;
}

.body__description {
  font-weight: 300;
  margin-top: 0.5rem;
  color: var(black);
  margin-right: 0.5rem;
}
.body__price {
  font-weight: 700;
  color: var(--gray-dark);
}

.order__btn {
  padding: 1.6rem 4.9rem;
}

/*# sourceMappingURL=menu.css.map */
