@use 'keyframes';
@use 'media-queries' as *;

.body {
    &__heart {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 2.2rem;
        background-color: transparent;
        cursor: pointer;
    }

    @include lg {
        &__heart:hover .heart__empty {
            opacity: 0;
        }

        &__heart:hover .heart__full {
            opacity: 1;
            background: var(--heart-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}

// Animation menu


// Loader
.container__loader {
    display: flex;
    z-index: 1050;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation:
        fadeOut ease-in 3s forwards,
        exit 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000) 3s both,
        color-change 3s linear infinite alternate both;

    .loader {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        img {
            width: 50%;
            filter: invert(1);
            animation: jello-horizontal 0.9s infinite both;

            @include sm {
                width: 40%;
            }

            @include lg {
                width: 20%;
            }
        }
    }
}