@use 'keyframes' as *;
@use 'media-queries' as *;

.body {
    &__heart {
        // position: relative;
        font-size: 2.2rem;
        background-color: transparent;
        cursor: pointer;
    }

    @include lg {
        &__heart:hover .heart__empty {
            opacity: 0;
        }

        &__heart:hover .heart__full {
            opacity: 1;
            background: var(--heart-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}

// Loader
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: fadeOut 2s forwards;
}

.loader {
    border: 1rem solid var(--white);
    border-top: 1rem solid var(--primary);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s infinite;

    @include md {
        width: 7rem;
        height: 7rem;
    }

    @include lg {
        width: 10rem;
        height: 10rem;
    }
}