.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 113px;

    &__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6.3rem;

        &--img {
            width: 16.2rem;
        }
    }

    &__location {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--gray-medium);
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15),
            0 4px 4px 0 rgba(0, 0, 0, 0.25);
        ;
    }

    .location {
        &__icon {
            font-size: 1.6rem;
            margin-right: 1.7rem;
        }

        &__text {
            font-size: 1.6rem;
        }
    }

}