@use 'reset';
@use 'variables';
@use 'bases';
@use 'header-menu';
@use 'buttons';
@use 'cards';
@use 'animations';
@use 'keyframes';
@use 'footer';
@use 'media-queries' as *;

.main {
    @include lg {
        display: flex;
        justify-content: center;
    }
}

.menu {
    position: relative;
    background-color: #f6f6f6;
    border-radius: 3rem 3rem 0 0;
    padding: 3.2rem 1.3rem 4rem 1.3rem;
    margin-top: -5rem;

    @include lg {
        width: 105.5rem;
        padding: 5rem 20rem;
    }

    &__restaurant {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.2rem;

        @include md {
            justify-content: center;
        }
    }

    &__options {
        margin-bottom: 4rem;
    }

    &__order {
        display: flex;
        justify-content: center;
    }
}

.options {
    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 300;
        color: var(--black);
        margin-bottom: 0.5rem;
    }

    &__border {
        display: flex;
        width: 40px;
        height: 3px;
        background-color: #99e2d0;
        margin-bottom: 1.2rem;
    }
}

.restaurant__title {
    font-size: 2.8rem;
    font-family: var(--shrikhand);
    font-style: italic;
    color: var(--black-title);

    @include md {
        margin-right: 2.4rem;
    }
}

.heart {
    &__icons {
        margin-right: 5rem;
    }

    &__empty,
    &__full {
        font-size: 2.3rem;
        padding: 0;
    }
}

.plates {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    animation: plateAppear 0.7s ease-in-out;
}

.plate {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--white);
    box-shadow: var(--btn-shadow);
    border-radius: 1rem;

    &__content {
        flex: 1;
        padding: 1.5rem 1.35rem;
        overflow: hidden;
    }

    &__title {
        font-size: 1.8rem;
        color: var(--black);
        font-weight: bold;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        font-size: 1.504rem;
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary);
        border-radius: 0 1rem 1rem 0;
        transform: translateX(6rem);
        transition: 0.4s ease-in-out;
        transition-property: width transform;
        width: 0;
    }
}

.plate:hover {
    cursor: pointer;

    .plate__check {
        transform: translateX(0);
        width: 60px;
    }

    .check__icon {
        transform: rotate(360deg);
    }
}

.check__icon {
    font-size: 2rem;
    padding: 2.5rem 2rem;
    color: var(--white);
    transform: rotate(0deg);
    transition: .7s ease-in-out;
}

.body {
    &__description {
        font-weight: 300;
        margin-top: 0.5rem;
        color: var(black);
        margin-right: 0.5rem;
    }

    &__price {
        font-weight: 700;
        color: var(--gray-dark);
    }
}

.order__btn {
    padding: 1.6rem 4.9rem;
}